<div class="main-section">
	<section class="hero-wrap pt-5" style="background-image: url(assets/images/bg-contacto.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row description align-items-center justify-content-center">
				<div class="col-md-8 text-center">
					<div class="text">
						<div class="bg-primary w-75 mx-auto rounded-lg">
							<h1 class="text-white font-weight-lighter display-1">Contacto</h1>
						</div>
						<div class="bg-light w-100 mx-auto rounded-lg">
							<h3 class="text-black mb-5">Un BrainTech, diversas formas de comunicarse.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Cuerpo -->
	<section class="ftco-section ftco-section-2" id="navigationTabs">
		<div class="container">
			<div class="row">
		<div class="col-12">
		  <h2 class="font-weight-normal text-center text-danger pb-5 pt-3">
			Asi puedes contactar con nosotros.
		  </h2>
		</div>

		<div class="row w-100">
		  <div class="col-12 mb-5 mb-md-0">
			<div class="row w-100 no-gutters tabulation">
			  <div class="col-md-3 my-auto">
				<ul class="row nav nav-pills nav-fill d-md-flex d-block">
				  <li class="col-12 nav-item text-left">
					<a class="nav-link active py-3" data-toggle="tab" href="#home">
					  <span class="ion-md-megaphone font-3x mr-2"></span> Contacto</a>
				  </li>
				</ul>
			  </div>
			  <div class="col-md-9">
				<div class="tab-content rounded">
				  <div class="tab-pane border-right border-top border-bottom rounded container p-4 active" id="home">
					<p class="font-weight-light font-2x my-5">
					  <i class="ion-logo-facebook font-3x"></i> Facebook: <a routerLink="/soon">Brain_Tech</a>
					</p>
					<p class="font-weight-light font-2x my-5">
					  <i class="ion-logo-twitter font-3x"></i> Twitter: <a routerLink="/soon">@BrainTech</a>
					</p>
					<p class="font-weight-light font-2x my-5">
					  <i class="ion-ios-mail font-3x"></i> E-mail: <span class="text-info">brain@tech.com.mx</span>
					</p>
					<p class="font-weight-light font-2x my-5">
					  <i class="icon-phone font-3x"></i> Teléfono 1: <span class="text-info">465 898 0021</span> <br>
					  <i class="icon-phone font-3x"></i> Teléfono 2: <span class="text-info">449 780 6987</span>
					</p>
					<p class="font-weight-light font-2x my-5">
					  <i class="icon-building font-3x"></i> Nuestras oficinas: <span class="text-info">Calle Paseos de 
						Frutilandia, Rancho San Miguel, Paseos de Aguascalientes, Ags.</span> o 
						<a href="https://www.google.com/maps/place/Calle+Paseos+de+Frutilandia,+Rancho+San+Miguel,+Paseos+de+Aguascalientes,+Ags./@21.9656958,-102.2928861,18z/data=!3m1!4b1!4m5!3m4!1s0x8429e57d9fd7e2e5:0x63d437f14250a3df!8m2!3d21.9656947!4d-102.2919757" target="_blank">
						  haz click aquí.
						</a>
					</p>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
		</div>
	</section>
	<!-- - - - - -end- - - - -  -->
  
  <div id="ftco-loader" class="show fullscreen">
	<svg class="circular" width="48px" height="48px">
	  <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
	  <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
	</svg>
  </div>

</div>
