<div class="main-section">
  <section class="hero-wrap pt-5" style="background-image: url(assets/images/bg-servicios.jpg);"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row description align-items-center justify-content-center">
        <div class="col-md-8 text-center">
          <div class="text">
            <div class="bg-primary w-75 mx-auto rounded-lg">
              <h1 class="text-white font-weight-lighter display-1">Servicios</h1>
            </div>
            <div class="bg-light w-100 mx-auto rounded-lg">
              <h3 class="text-black mb-5">En equipo se pueden hacer grandes cosas.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Cuerpo -->
  <section class="ftco-section ftco-section-2" id="navigationTabs">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="font-weight-normal text-center text-danger pb-5 pt-3">
            ¿Que te ofrecemos como empresa?
          </h2>
        </div>

        <div class="col-md-6 col-12 my-4">
          <div class="bg-info w-100 mx-auto rounded-lg">
            <h3 class="text-white text-center">Desarrollo de apps web y <br>en la nube</h3>
          </div>
          <div class="bg-light w-100 mx-auto rounded-lg py-3">
            <p class="font-1_5x mx-4 text-justify">
              Diseño y mantenimiento de paginas o programación web dedicadas para móviles, pc y 
              responsivas, servicios en la nube, entre otras cosas.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-12 my-4">
          <div class="bg-info w-100 mx-auto rounded-lg">
            <h3 class="text-white text-center">Aplicaciones de escritorio</h3>
          </div>
          <div class="bg-light w-100 mx-auto rounded-lg py-3">
            <p class="font-1_5x mx-4 text-justify">
              Aplicaciones para Windows, Linux y Mac Os. Algunos lenguajes de programación que 
              podemos distinguir son C#, C++, C, Visual Basic, Java, Python, etc.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-12 my-4">
          <div class="bg-info w-100 mx-auto rounded-lg">
            <h3 class="text-white text-center">Aplicaciones de móviles</h3>
          </div>
          <div class="bg-light w-100 mx-auto rounded-lg py-3">
            <p class="font-1_5x mx-4 text-justify">
              Aplicaciones nativas y multiplataforma para Android e IOS, usando lenguajes como 
              Java, Kotlin, Objetive-C, Swift y  frameworks como Angular y React.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-12 my-4">
          <div class="bg-info w-100 mx-auto rounded-lg">
            <h3 class="text-white text-center">Bases de datos</h3>
          </div>
          <div class="bg-light w-100 mx-auto rounded-lg py-3">
            <p class="font-1_5x mx-4 text-justify">
              Diseño y mantenimiento de bases de datos SQL (como SQL Server, MySQL y Oracle) y 
              No SQL (como Mongo DB, Cassandra, y 
              Redis).
            </p>
          </div>
        </div>

        <div class="col-12">
          <p class="font-weight-normal font-2x text-center pb-5 pt-4">
            Si estas interesado en algún servicio o tienes dudas, puedes ir a la sección de 
            <a routerLink="/contacto">Contacto</a>  y solicitar la información que necesites 
            por el medio que sea de tu conveniencia.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- - - - - -end- - - - -  -->

<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
  </svg>
</div>

</div>