<section class="hero-wrap-c pt-5" data-stellar-background-ratio="0.5">
  <div class="overlay-c"></div>
  <div class="overlay-d"></div>
  <div class="container">
    <div class="row description align-items-center justify-content-center">
      <div class="col-md-8 text-center">
        <div class="text">
          <div class="bg-primary w-75 mx-auto rounded d-lg-block d-none mt-7">
            <h1 class="text-white font-weight-lighter display-4">Registro</h1>
          </div>
          <div class="bg-primary mx-auto rounded d-lg-none d-block">
            <h1 class="text-white font-weight-lighter font-6x">Registro</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<form #formUser="ngForm" (ngSubmit)="register(formUser)" class="text-center row w-100" id="formLogin">
  <div class="col-md-6 col-12 px-0">
    <p class="font-1_25x mb-0 bt-2">Nombre(s)</p>
    <input class="form-ctrl" type="text" id="nombre" ngModel name="nombre" required autofocus>
  </div>
  <div class="col-md-6 col-12 px-0">
    <p class="font-1_25x mb-0 bt-2">Apellido(s)</p>
    <input class="form-ctrl" type="text" id="apellidos" ngModel name="apellido" required>
  </div>
  <div class="col-md-6 col-12 px-0">
    <p class="font-1_25x mb-0 bt-2">E-Mail</p>
    <input class="form-ctrl" type="text" id="email" ngModel name="email" required>
  </div>
  <div class="col-md-6 col-12 px-0">
    <p class="font-1_25x mb-0 bt-2">Usuario</p>
    <input class="form-ctrl" type="text" id="user" ngModel name="user" required>
  </div>
  <div class="col-12 px-0">
    <p class="font-1_25x mb-0 bt-2">Contraseña</p>
    <input class="form-ctrl" type="password" id="pass" ngModel name="pass" required>
  </div>
  
  <div class="col-12 px-0 text-center mt-5">
    <button type="submit" class="btn px-3 btn-success font-1_25x w-25" id="btnLogin">Registrar</button>
  </div>
</form>

<p class="text-center mt-4">
  ¿Ya estas registrado? <a routerLink="/login">Inicia sesión!</a>
</p>

<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
    <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
      stroke="#F96D00" />
  </svg>
</div>