<div class="main-section">  
    <!-- Cuerpo -->
    <section class="ftco-section ftco-section-2" id="navigationTabs">
      <div class="container">
        <div class="row">
          <div class="col-12">
						<div class="mb-10"></div>
						<h1 class="text-warning text-center font-weight-light display-1 mt-10">
							Pagina inexistente o en construcción.
						</h1>

						<div class="text-center mx-auto my-2 w-50">
							<img width="200" src="assets/images/doggo.gif" alt="doggo">
						</div>
						
						<p class="text-center font-weight-light display-4 my-5">
							¡Ya estamos trabajando en ello!
						</p>
					</div>
				</div>
      </div>
    </section>
    <!-- - - - - -end- - - - -  -->
  
  <div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
    </svg>
  </div>
  
  </div>